.gallery {
  margin-left: 50px;
  margin-right: auto;
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: flex-start;
}
.info {
  display: flex;
  gap: 20px;
}
.photo-card {
  width: 320px;
}
.img {
  width: 320px;
  height: 200px;
}
.info-item {
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  text-align: center;
}

.js-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
